{% extends 'base.html' %}
{% block content %}
<div style="background-color:darkslategrey">
    <p align="right" style="color:white">
        My name is Mohammed Jarif Rahman and I am currently pursuing a degree (BSc) in Computer Information Systems (with a minor in management) at Bentley University.
    <br>
        Click navigation tab on the top right corner of the page to navigate to all pages.

    <br>
        All content (including source codes) on this website was created by Mohammed Jarif Rahman.
        </p></div>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">

                    {% for job in jobs.all %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img class="card-img-top" src="{{job.image.url}}"></img>
                            <div class="card-body">
                                <p class="card-text">{{job.summary}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{%url 'allblogs'%}" class="text-white">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View Source Codes</button>
                                        </a>
                                        <a href="{%url 'searchhome'%}" class="text-white">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Search Codes</button>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                     


                    {% endfor %}

                    
                    {% endblock %}


                    <br />





                </div>
            </div>
        </div>



        </main>
