{% extends 'base.html' %}
        {% block content %}

<div class="col-md-4">
    <div class="card mb-4 shadow-sm">

        <div class="card-body">

            {% for blog in blogs.all %}
            <br>
            <br>

            <br>
            <p>
                {{blog.id}} : {{blog.title}}
                <br />
                <a href="{%url 'detail' blog.id %}">  {{blog.uppercase}} </a>
                <br />
            </p>
            <br />
            <img class="card-img-top" src="{{blog.blog_image.url}}"></img>
            <br />
            {{blog.pub_date_pretty}}

            <br>
            <br>
            ---------------------------

            {% endfor %}










        </div>
    </div>
</div>

        {% endblock %}


    </main>

