{% extends 'base.html' %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>about</title>
</head>
<body>
    {% block content %}
    <h2> About me: </h2>
    <p>
        My name is Jarif Rahman and I am currently pursuing a degree in Computer Information Systems (with a minor in management) at Bentley University.
        I am currently a junior (or a rising senior) at the university. I was born and brought up in Somerset County, New Jersey. I started gaining interest in coding during middle school, and later spent long periods learning new languages. My courses at Bentley University has helped me improve and solidify my knowledge and skills in python, java, oracle sql, network protocols (tcp/ip), object-oriented programming, javascript, uml diagrams, eerd diagrams, lrd diagrams and normalization. Through a minor in management, I was able to develop my knowledge regarding management theories and frameworks. My past jobs and internships have also helped me develop my skills in management through first-hand experiences. I am currently looking to pursue a career in information technology, datbases or management.
        <br>
        hobbies: coding, playing guitar, playing soccer and listening to jazz music.
        <br>
        <br>
        Address: 549 new brunswick road, Somerset, NJ, 08873.
        <br>
        Phone number: 6466755860.
        <br>
        Email Address: jarifrahman@zoho.com, rahman_jari@bentley.edu
    </p>
        {% endblock %}
</body>
</html>