{% extends 'base.html' %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>coverletter</title>
</head>
<body>
    {% block content %}
    <h2> Cover letter: </h2>
    To whom it may concern,
    <br>
    I write in response to the opening for an IT intern position at your organization. This letter is to express my interest in a potential IT internship at your organization.
    My educational background has made me a suitable candidate for the IT intern position. In particular, my studies of the Computer information systems field in areas such as writing flawless Python, Java, UML and Javascript language, creating (and managing) SQL databases and knowledge on networking essentials (TCP/ IP)  have given me a solid background for the completion of duties required by the position. I am eager to contribute my enthusiasm and up-to-date skills to your IT team.
    My experience as an associate at AMNH developed my skills in Oracle SQL and data analytics, as I was given the oppurtunity to create complex reports and queries based on sales and security data. My previous experience as a Tech Associate at staples solidified my knowledge regarding computer hardware, internet protocol and software troubleshooting and development.
    I am certain that my resume will give you a greater understanding of my qualifications for this exciting opportunity. I look forward to the opportunity to discuss my credentials and how my expertise can be of assistance to your organization.
    I would greatly appreciate the opportunity to work with and learn from you and your talented team. I look forward to speaking with you soon.
    <br>
    <br>
    Sincerely,
    <br>
    Mohammed Jarif Rahman

    {% endblock %}
</body>
</html>